.block {
    margin: 15px;
    max-width: 348px;
    min-height: 285px;
    background-color: #202020;
    border-radius: 33px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.back {
    max-width: 348px;
    height: 50%;
    object-fit: cover;
    border-radius: 33px 33px 0 0;
}

.description {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.platformsAndRating {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.rating {
    padding: 0 5px;
    color: #5fab41;
    border: 1px solid #5fab41;
    border-radius: 3px;
    font-weight: bold;
}

.heading4 {
    margin-top: 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.added {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #373737;
    border-radius: 3px;
    padding: 3px;
    font-weight: bold;
    
}

