.block {
    @media screen and (max-width: 930px) {
        width: 600px;
    };
    @media screen and (max-width: 630px) {
        width: 300px;
    };
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 2px 8px;
        color: #ffffff;
        text-decoration: none;
        background-color: #373737;
        border-radius: 3px;
    }
}